<!doctype html>
<html lang="en">

<head>
    <title>Map</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Map script -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Covid-19</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Country/null/Thailand">Country</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Map">Map</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">


        <div class="text-center h1 font-weight-bold">
            World Situation
        </div>
        <div class="row text-center">
            <div class="col-4">
                <div class="alert alert-dark" role="alert">
                    Confirmed
                    <hr>
                    <%= Total.worldConfirmed%>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-success" role="alert">
                    Recovered
                    <hr>
                    <%= Total.worldRecovered%>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-danger" role="alert">
                    Deaths
                    <hr>
                    <%= Total.worldDeaths%>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <canvas id="horizontalBar" style="width: 50%;"></canvas>
        </div>
        <hr>
    </div>


    <div class="container mt-3">
        <div class="row">
            <div class="col-4">
                <div class="alert" role="alert" style="background-color: green ;">

                    Less than 100 people have been confirmed to have been infected.
                </div>

            </div>
            <div class="col-4">
                <div class="alert" role="alert" style="background-color: orange;">

                  More than 100 people have been confirmed to have been infected.
                </div>

            </div>
            <div class="col-4">
                <div class="alert" role="alert" style="background-color: red;">

                    More than 500 people have been confirmed to have been infected.
                </div>

            </div>
        </div>

        <div id="mapid" style="height: 500px;">
        </div>
        <hr>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/Map.js"></script>
    <script>
        getMaps(`<%- JSON.stringify(Latitude) %>`);
    </script>

    <script>

        var total_worldConfirmed = '<%= Total.worldConfirmed%>';
        var total_worldRecovered = '<%= Total.worldRecovered%>';
        var total_worldDeaths = '<%= Total.worldDeaths%>';

        new Chart(document.getElementById("horizontalBar"), {
            "type": "horizontalBar",
            "data": {
                "labels": ["Confirmed", "Recovered", "Deaths"],
                "datasets": [{
                    "label": ["World Situation"],
                    "data": [total_worldConfirmed, total_worldRecovered, total_worldDeaths],
                    "fill": false,
                    "backgroundColor": ["#4D5360", "#46BFBD", "#F7464A"],
                    "borderColor": ["#4D5360", "#46BFBD", "#F7464A"],
                    "borderWidth": 1
                }]
            },
            "options": {
                "scales": {
                    "xAxes": [{
                        "ticks": {
                            "beginAtZero": true
                        }
                    }]
                }
            }
        });
    </script>

</body>

</html>